html{
  background-color: #ECF3F3;
  /*background-color: #C7EFCF;*/
}

.content{
  margin: 5% 30%;
  padding: 2%;
  box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
  background-color: #FFF;
}

.milestoneBtn{
  text-decoration:underline;
  color:blue;
  cursor: pointer;
}

.milestoneBtn.edit{
  margin-bottom: 15px;
}

li{
  list-style: none;
}

.goalList{
  margin-bottom: 15px;
}

.deleteBtn{
  margin-right: 10px;
  color:red;
  /*text-decoration: underline;*/
  cursor: pointer;
}

.deleteBtn.edit{
  margin: 15px 0px;
}

.milestoneBlock{
  display: inline-block;
  /*margin: 15px;*/
  margin-left: 0px;
}

.milestoneTitle{
  display: block;
}

.milestone{
  margin: 25px 0px;
}

ul{
  padding: 0px;
}

li a{
  margin-right: 10px;
  width: 83%;
}

html{
  font-family: 'Work Sans', sans-serif;
}

h2{
  font-size: 16pt;
  font-weight: normal;
  color: #999;
  color: #333;
}

#noGoals{
  margin: 15px 0px;
}

.goalLink{
  color: #555;
  border-bottom: 1px solid #ddd;
  padding-bottom: 5px;
  width: 100%;
}

.goalLink a{
    text-decoration: none;
    color: #555;
    display: block;
}

.goalLink div{
  margin-top: 5px;
}

textarea{
  width: 100%;
}


.titleBlock, .dateBlock, .reasonBlock, .rewardBlock, .milestoneBlock{
  margin-bottom: 15px;
}


.editDeleteBlock{
  margin: 15px 0px;
}


.fa-chevron-circle-left{
  color: #888;
}

.flat {
  color: #fff;
  background-color: #6496c8;
  text-shadow: -1px 1px #417cb8;
  border: none;
  padding: 3px 15px;
  font-size: 13pt;
}

.flat:hover,
.flat.hover {
  background-color: #346392;
  text-shadow: -1px 1px #27496d;
}

.flat:active,
.flat.active {
  background-color: #27496d;
  text-shadow: -1px 1px #193047;
}

.flat a{
    text-decoration:none;
    color: #FFF;
}

.createBtn{
  background-color: #3D9970;
}

.createBtn:hover, .createBtn.hover{
  background-color: #235021;
}

.titleBlock input{
  width: 100%;
}

.reason{
  font-weight: bold;
}

.reminders li{
  display: inline;
  color: blue;
  text-decoration: underline;
  margin-right: 10px;
  cursor: pointer;
}