<section>

  <h2> Your Goals </h2>
  <ul>
    <li ng-repeat="goal in goals" class="goalList">
      <div class="goalLink"> 
        <a ui-sref="viewGoal({ goal_id: goal['_id'] })"> {{goal.title}} - {{goal.completeDate | date}} 
          <div> Completed: {{goal.completePercentage}}% </div>
        </a>
      </div>
    </li>
  </ul>
  <div id="noGoals" ng-show="goals.length == 0"> You have currently have no goals </div>
 
  <button class="flat">
    <a ui-sref="createGoal()"> Create a goal </a>
  </button>

</section>
