<div class="content">

  <h2> Create Goal </h2>

  <div> Title </div>
  <input type="text" ng-model="goal.title">

  <br/><br/>
  <div> Date to complete </div>
  <input type="date" ng-model="goal.completeDate">


  <h2> Add Milestones </h2>

  <div ng-click="addMilestone()" class="milestoneBtn"> Add milestone </div><br/>

  <li ng-repeat="milestone in goal.milestones">

    <div class="milestone">

      <div>
        <div> Title </div>
        <input type="text" ng-model="milestone.title">
      </div>

      <div class="milestoneBlock">
        <div> Date to complete </div>
        <input type="date" ng-model="milestone.completeDate">
      </div>

      <div class="milestoneBlock">
        <div> % Assigned </div>
        <input type="number" ng-model="milestone.percentage">
      </div>

      <div class="deleteBtn" ng-click="deleteMilestone($index)"> Delete Milestone </div>

    </div>

  </li>


  <!-- Create Goal -->
  <input type="button" value="Create goal" ng-click="createGoal()">
  
</div>