<section>

  <i class="fa fa-chevron-circle-left fa-2x" aria-hidden="true" ng-click="goBack()"></i>

  <h2> Create Goal </h2>

  <div class="titleBlock">
    <div> Title </div>
    <input type="text" ng-model="goal.title">
  </div>

  <div class="dateBlock">
    <div> Date to complete </div>
    <input type="date" ng-model="goal.completeDate">
  </div>

  <div>
      <div> Reminders </div>
      <ul class="reminders">
        <input type="radio" value="disable" ng-model="goal.reminder"> Disable
        <input type="radio" value="enable" ng-model="goal.reminder"> Enable
      </ul>
  </div>

  <div class="reasonBlock">
    <div> Your reason for wanting to achieve this goal </div>
    <textarea name="reason" ng-model="goal.reason" rows="4"></textarea>
  </div>

  <div class="rewardBlock">
    <div> Your reward to yourself upon completion </div>
    <textarea name="reward" ng-model="goal.reward" rows="4"></textarea>
  </div>

  <h2> Milestones </h2>

  <div ng-click="addMilestone()" class="milestoneBtn"> Add milestone </div>

  <li ng-repeat="milestone in goal.milestones">

    <div class="milestone">

      <div class="milestoneBlock milestoneTitle">
        <div> Title </div>
        <input type="text" ng-model="milestone.title">
      </div>

      <div class="milestoneBlock">
        <div> Date to complete </div>
        <input type="date" ng-model="milestone.completeDate">
      </div>

      <div class="deleteBtn" ng-click="deleteMilestone($index)"> Delete Milestone </div>

    </div>

  </li>

  <!-- Create Goal -->
  <button class="flat createBtn" ng-click="createGoal()"> Create goal </button>
  
</section>