<section>

  <div ng-click="goBack()"> <-- </div>

  <h2> {{goal.title}} </h2>
  <div> {{goal.completeDate | date}} </div>

  <div>
    <a ui-sref="editGoal({ goal_id: goal['_id'] })"> Edit goal </a> | 
    <span class="deleteBtn goalOptions" ng-click="deleteGoal(goal['_id'])"> Delete goal </span>
  </div>

  <h2> Milestones </h2>

  <li ng-repeat="milestone in goal.milestones" style="list-style: none;">

    <div> Title </div>
    <div ng-bind="milestone.title"> </div>
    
    <div> Date to complete </div>
    <div ng-bind="milestone.completeDate | date"> </div>

    <div> % Assigned </div>
    <div ng-bind="milestone.percentage"> </div>

  </li>

</section>