<div style="margin-left:10%;">
  <h2> Create Goal </h2>

  <div> Title </div>
  <input type="text" ng-bind="goal.title">

  <br/><br/>
  <div> Date to complete </div>
  <input type="date" ng-bind="goal.completeDate">


  <h2> Add Milestones </h2>

  <div> Title </div>
  <input type="text">
  <br/>

  <br/>
  <div> Date to complete </div>
  <input type="date">

  <br/><br/>
  <div> % Assigned </div>
  <input type="number">

  <br/><br/><br/>
  <input type="button" value="Click Me!" ng-click="btnClick()">
</div>