<div style="margin-left:10%;">
  <h2> Edit Goal </h2>

  <div> Title </div>
  <input type="text" ng-model="goal.title">

  <br/><br/>
  <div> Date to complete </div>
  <input type="date" ng-model="goal.completeDate" format-date>

  <h2> Add Milestones </h2>

  <div ng-click="addMilestone()" style="text-decoration:underline; color:blue"> Add milestone </div><br/>

  <li ng-repeat="milestone in goal.milestones" style="list-style: none;">

    <div> Title </div>
    <input type="text" ng-model="milestone.title">
    <br/>

    <br/>
    <div> Date to complete </div>
    <input type="date" ng-model="milestone.completeDate" format-date>

    <br/><br/>
    <div> % Assigned </div>
    <input type="number" ng-model="milestone.percentage">

  </li>


  <!-- Create Goal -->
  <br/><br/><br/>
  <input type="button" value="Edit goal" ng-click="createGoal()">
</div>